.homeContainer{
    background-color: #0f0f0f;
    color: white;
}

h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

p{
    font-size: 15px;
    font-weight: 300;
    width: 71%;
    margin: auto;
    text-align: center;
}